@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.Por_aprovar>

@{ Html.RenderPartial("~/Views/Shared/_Submenu.cshtml"); }
@{
    ViewBag.Title = "Index";
}
<style>
    .contenidoPagina{
        width: 100%;
        text-align: center;
    }
    #paginadoAprobacion {
        text-align: left;
        margin-left: 100px;
    }
</style>

<h2>Historial de publicaicones</h2>
@foreach (var item in Model)
{
    
    <table id="tblAprobaciones">

        <thead>
            <tr>

                <td id="imgUsuario"><img onerror="return imageOnError(this);" src='@Url.Content("~/Images/Usuarios/"+@item.usuario+".jpg")' /></td>
                
            </tr>
            
        </thead>

        <tbody>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().titulo):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.titulo)</td>

            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().categoria):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.categoria)</td>
            </tr>

            <tr>
                <td width="200">@Html.DisplayNameFor(model => model.First().fecha_publicacion):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.fecha_publicacion)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().usuario):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.usuario)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.First().estado):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.estado)</td>
            </tr>

            @*<tr>
                <td colspan="2" align="center">
                    <button class="btn btn-default" onclick="location.href = '@Url.Action("Procesar", "Aprovacion", new { id = item.publicacion_id })';">Procesar</button>
                </td>
            </tr>*@

        </tbody>

    </table>

}

<div class="pageList" id="paginadoAprobacion" data-otf-target="#usuarios">
    @Html.PagedListPager(Model, pagina => Url.Action("Historial", new { pagina }))
</div>
