@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.Por_aprovar>

@{ Html.RenderPartial("~/Views/Shared/_Submenu.cshtml"); }
@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
    <div id="imgUsuario">
        <img src='@Url.Content("~/Images/Usuarios/masculinoSysM.png")' />
    </div>
    <table id="tblAprobaciones">

        <thead>
            <tr>

                <!-- Esto aquí se debe cambiar para que sea dinamico-->
                <!-- @Url.Content("~/Images/Usuarios/" + item.foto) -->
                @*<td width="90" rowspan="6"><img src="@Url.Content("~/Images/Usuarios/masculinoSysM.png")" width="100" height="100" /></td>*@
                <td></td>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().titulo):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.titulo)</td>

            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().categoria):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.categoria)</td>
            </tr>

            <tr>
                <td width="200">@Html.DisplayNameFor(model => model.First().fecha_publicacion):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.fecha_publicacion)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.First().usuario):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.usuario)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.First().estado):</td>
                <td colspan="2">@Html.DisplayFor(modelItem => item.estado)</td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <button class="btn btn-default" onclick="location.href = '@Url.Action("Procesar", "Aprovacion", new { id = item.publicacion_id })';">Procesar</button>
                </td>
            </tr>

        </tbody>

    </table>

}

<div class="pageList" data-otf-target="#usuarios">
    @Html.PagedListPager(Model, pagina => Url.Action("", new { pagina }))
</div>



