@model Blog.Models.Usuario
@{
    Layout = "";
}
<fieldset>
    @*<div>
            @Html.DisplayNameFor(model => model.usuario_id): @Html.DisplayFor(model => model.usuario_id)
    </div>*@
  
    <div>
            @Html.DisplayNameFor(model => model.usuario1): @Html.DisplayFor(model => model.usuario1)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.estado): @if (Model.estado == 1)
                                                        {
                                                            <n>Activo</n>
                                                        }
                                                        else
                                                        {
                                                            <n>Desactivado</n>
                                                        }
    </div>
   
    
    <div>
            @Html.DisplayNameFor(model => model.email): @Html.DisplayFor(model => model.email)
    </div>
   
    <div>
            @Html.DisplayNameFor(model => model.nombreCompleto): @Html.DisplayFor(model => model.nombreCompleto)
    </div>
   
    <div class="display-label">
            @Html.DisplayNameFor(model => model.rol): @Html.DisplayFor(model => model.rol)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.nacimiento): @Html.DisplayFor(model => model.nacimiento)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ocupacion): @Html.DisplayFor(model => model.ocupacion)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.direccion): @Html.DisplayFor(model => model.direccion)
    </div>
    
</fieldset>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>
