@model Blog.Models.Usuario
@{
    Layout = "";
}
<fieldset>
    @*<div>
            @Html.DisplayNameFor(model => model.usuario_id): @Html.DisplayFor(model => model.usuario_id)
    </div>*@
  
    <div>
        <strong>@Html.DisplayNameFor(model => model.usuario1):</strong> @Html.DisplayFor(model => model.usuario1)
    </div>

    <div>
        <strong>@Html.DisplayNameFor(model => model.estado):</strong> @if (Model.estado == 6)
                                                        {
                                                            <span>Activo</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Desactivado</span>
                                                        }
    </div>
   
    
    <div>
        <strong>@Html.DisplayNameFor(model => model.email):</strong> @Html.DisplayFor(model => model.email)
    </div>
   
    <div>
        <strong>@Html.DisplayNameFor(model => model.nombreCompleto):</strong> @Html.DisplayFor(model => model.nombreCompleto)
    </div>
   
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.rol):</strong> @Html.DisplayFor(model => model.rol)
    </div>
    
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.nacimiento):</strong> @Html.DisplayFor(model => model.nacimiento)
    </div>
    
    <div class="display-label">
        <strong>@Html.DisplayNameFor(model => model.ocupacion):</strong> @Html.DisplayFor(model => model.ocupacion)
    </div>

    <div class="display-label">
        <strong>Sexo:</strong> @Html.DisplayFor(model => model.direccion)
    </div>
    
</fieldset>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>
