@model IEnumerable<Blog.Models.Categoria>

@{
    ViewBag.Title = "ListaCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="centrar">Lista de Categoria</h2>
<hr>
<div style="margin: auto; width: 70%; border: 1px solid black; border-radius: 10px; margin-bottom: 5%">
    <div style="width:90%; margin:auto; margin-top:5%;">
        @*<p>
            @Html.ActionLink("Crear nueva categoria", "Categoria", "Administracion", routeValues: null , htmlAttributes: new { @class = "btn btn-default"})
        </p>*@
        <a href="@Url.Action("Index", "Administracion")" class="btn btn-success">Menu de administracion</a>
        <button class="btn btn-success centrar"  data-toggle="modal" data-target="#manejoCategoria" onclick="crearCategoria();">Crear nueva categoria</button>

        <br>
        <br>
        <table class="table table-hover table-responsive">

        @foreach (var item in Model) {
            <tr>
                <td class="col-md-8">
                    @Html.DisplayFor(modelItem => item.categoria)
                </td>
                <td>
                    <button class="btn btn-group-vertical" data-toggle="modal" data-target="#manejoCategoria" onclick="editar(@item.id);">Editar</button> 
                    <button class="btn btn-danger" id="estado" onclick="eliminar(@item.id);">Eliminar</button>
                </td>
            </tr>
        }

        </table>
        </div>
        <div class="modal fade" id="manejoCategoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
            
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h2 class="modal-title centrar" id="tituloBox">Categoria</h2>
                    </div>
            
            
                    <div class="modal-body">
                        <div id="cajaDeContenido"> </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<script>

    function editar(id) {
        $("#cajaDeContenido").load('EditarCategoria/' + id);
    }

    function crearCategoria() {
        $("#cajaDeContenido").load('Categoria');
    }

    function eliminar(id) {
        var validacion = false;

        if (confirm("Se esta por elimar una categoria, ¿desea continuar con la peticion?")) {
            validacion = true;
            document.location = 'EliminarCategoria/' + id;
        }

        return validacion;
    }
</script>