@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.Usuario>


<style>
    .pageList {
        margin-left: 3%;
    }

</style>

<section class="alinear">
    <h2 align="center">Lista de usuarios</h2>
    <hr />
    
    @foreach (var item in Model)
{
     //Esta no es la tabla de aprobaciones es solo que tomé su estilizado porque me dio weba 
     //cambiarlo :D att.Danny
        
    <table id="tblAprobaciones">

        <thead>
            <tr>

               
                <td id="imgUsuario"><img onerror="return imageOnError(this);" src='@Url.Content("~/Images/Usuarios/"+@item.usuario1+".jpg")'  /></td>


            </tr>

        </thead>
        <tbody>
            <tr>

                <td>@Html.DisplayNameFor(model => model.First().usuario1):</td>
                <td>@Html.DisplayFor(modelItem => item.usuario1)</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td>@Html.DisplayFor(modelItem => item.nombreCompleto)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.First().rol):</td>
                <td>@Html.DisplayFor(modelItem => item.rol)</td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#ediciones-administracion" onclick="cambiar(@item.usuario_id);">Rol</button>
                
                    <button class="btn btn-primary" data-toggle="modal" data-target="#ediciones-administracion" onclick="detalles(@item.usuario_id);">Detalles</button>
                
                    <button class="btn btn-primary" id="estado" onclick="estadoUsuario(@item.usuario_id);">
    
                            @if (item.estado == 1)
                            {
                                <span>Descativar</span>
                            }
                            else
                            {
                                <span>Activar</span>
                            }
                    </button>
                </td>
        </tr>
            
        </tbody>
    </table>
}

    </section>

    

    <!-- Modal -->
    <div class="modal fade" id="ediciones-administracion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="tituloBox">Titulo</h4>
                </div>
                <div class="modal-body">
                    <div id="ediciones-box"> </div>
                </div>
            </div>
        </div>
    </div>

<script>

    function cambiar(id) {
        $("#tituloBox").text("Cambiar rol");
        $("#ediciones-box").load('CambiarRol/' + id);
    }

    function detalles(id){
        $("#tituloBox").text("Detalles del usuario");
        $("#ediciones-box").load('Detalles/' + id);
    }

    function estadoUsuario(id){
        var validacion = false;

        if(confirm("¿Seguro que desea realizar este cambio?")){
            validacion = true;
            //$("#ediciones-box").load('CambiarEstado/' + id);
            document.location = 'CambiarEstado/' + id;
        }

        return validacion;
    }
</script>
<hr />
<div class="pageList" data-otf-target="#usuarios">
    @Html.PagedListPager(Model, pagina => Url.Action("", new { pagina }))
</div>