<div id="botonesCabeceras">
    <a href="~/Home/Index"><div id="logo"><img src="~/Images/logo-sinbordes.png" width="150" /></div></a>
    <div id="botonesHeader">
        <div id="buscador">
            <form method="get" action="~/Home/Publicaciones">
                <input type="search" placeholder="Buscar" class="form-control" id="inpBuscar" name="busqueda" />
                <input type="submit" class="btn btn-group" id="btnBuscar" value="Buscar" />

            </form>
        </div>
        <div id="btnLogin">
            @if (Request.IsAuthenticated)
            {
                <div>
                    <text>
                        <strong>¡Hola</strong>, <strong style="color: #0e488f">@User.Identity.Name !</strong> @*@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar" })*@
                    </text>
                </div>
                <span class="separador">|</span>
                @Html.ActionLink("Publicar", "Create", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                <span> </span>
                @Html.ActionLink("Mis publicaciones", "MisPublicaciones", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                <div style="display:inline-block">
                    <text>
                        @using (Html.BeginForm("salir", "Logeo", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger">Cerrar sesión</a>
                        }
                    </text>
                </div>
            }
            else
            {
                <div class="btn-inicioSesion">
                    @Html.ActionLink("Registrarse", "Registrar", "Logeo", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })
                    @Html.ActionLink("Iniciar sesión", "Iniciar", "Logeo", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>