@model Blog.Models.publicaciones

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BlogPost</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.informacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.informacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fuente_de_informacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fuente_de_informacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha_publicacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha_publicacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.visitas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.visitas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion_ip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion_ip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado_id)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
