@model IEnumerable<Blog.Models.publicaciones>
@{
    ViewBag.Title = "Publicaciones";
}
<style>
    #publicaciones {
        background-color: #2F67C4;
        box-shadow: inset 0px -8px 0px 0px #1D547A;
    }
</style>
<div class="submenu">
    <ul>
        <li><a id="linksPublicaciones" href="#">Más Recientes</a></li>
        <span>|</span>
        <li><a href="#">Más Más Visitados</a></li>
    </ul>
</div>
<h2>Publicaciones Más Recientes</h2>


<div class="contenidoPagina">

    <div id="contenedorPost">

        @foreach (var item in Model)
        {
            <div class="listaPost">

                <h2><a href="">@item.titulo</a></h2>

                <div id="divFecha">
                    <h5>@item.fecha_publicacion</h5>

                </div>

                <div id="infomacionPost">
                    @Html.Raw(item.informacion)

                    <hr />
                </div>
            </div>
            @Html.ActionLink("Ver mas", "Informacion", new { id = @item.publicacion_id });
            <div id="divFuente">
                <b>Fuente:  </b> :@item.fuente_de_informacion
            </div>

        }

    </div>

</div>
