@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Blog.Models.publicaciones>

@{
    ViewBag.Title = "PublicacionesPorCategoria";
}

<style>
    #publicaciones {
        background-color: #2F67C4;
        box-shadow: inset 0px -8px 0px 0px #1D547A;
    }

    .submenu {
        margin-top: -1px;
        text-align: center;
    }

    .contenidoPagina {
    }
</style>

<div class="submenu">
    <ul>
        <li><a id="linksPublicaciones" href="@Url.Action("Publicaciones")">Más Recientes</a></li>
        <span>|</span>
        <li><a href="@Url.Action("PublicacionesMasVisitadas")">Más visitadas</a></li>
    </ul>
</div>

<h2 style="text-align:center">Publicaciones de @ViewBag.nombreCategoria</h2>
<div class="contenidoPagina">

    

    <div id="contenedorPost">

        @foreach (var item in Model)
        {
            <div class="listaPost">
                <h2>@Html.ActionLink(@item.titulo, "Informacion", new { id = @item.publicacion_id })</h2>

                <div id="divFecha">
                    <h5>Fecha: @item.fecha_publicacion Visitas: @item.visitas</h5>
                </div>

                <div id="infomacionPost">
                    @Html.Raw(item.informacion)
                    <hr />
                </div>
            </div>
            <div id="fuentePublicacion">
                <b>Fuente:  </b> :@item.fuente_de_informacion
            </div>
            @Html.ActionLink("Ver más...", "Informacion", new { id = @item.publicacion_id }, htmlAttributes: new { id = "verMas", @class = "btn btn-default" });
            <hr />

        }

    </div>

</div>

<div class="pageList" id="paginadoAprobacion" data-otf-target="#usuarios">
    @Html.PagedListPager(Model, pagina => Url.Action("PublicacionesPorCategoria", new { categoria_id = ViewBag.categoria_id, pagina }));
</div>