@model Blog.Models.Registro

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/themess/base/minified/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>



@using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="width:50%;  margin:auto;">
       <h2 class="centrar">Registrar</h2>
        <p class="centrar">
            Registrate en @Html.ActionLink("WikiWiki", "Acerca", "Home") y descubre nuevos contenidos cada 
            d&iacute;a ven y disfruta de una nueva emoci&oacute;n que puedes compartir con los dem&aacute;s
            solo tienes que completar nuestro registro en 2 sencillos pasos.
        </p>
      <div style="width:100%; border-radius:5%; border: solid 1px black"> 
        <div style="width: 90%; margin:auto; margin-top: 3%;">
         <div class=" form-group">
            <label>Nombre</label>
            @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="form-group">
            <label>Apellido</label>
            @Html.TextBoxFor(model => model.apellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.apellido)
        </div>


        <div @*class="form-group"*@ style="width:45%; display:inline-block">
            <label>Usuario</label>
            @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.usuario)
        </div>

            <div @*class="form-group"*@ style=" width:45%; display:inline-block; margin-left:8%;">
                <label>Clave</label>
                @Html.TextBoxFor(model => model.clave, new { @class = "form-control", type = "password" })
                @Html.ValidationMessageFor(model => model.clave)
            </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.clave)
            @Html.TextBoxFor(model => model.clave, new { @class = "form-control", type = "password", id="clave2" })
            @Html.ValidationMessageFor(model => model.clave)
        </div>*@

        <div class="form-group" style="margin-top:3%;">
            <label>Correo electronico</label>
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div style="width:45%; display:inline-block">
            <label>Fecha de nacimiento</label>
            @Html.TextBoxFor(model => model.nacimiento, new { @class = "form-control date-picker" })
            @Html.ValidationMessageFor(model => model.nacimiento)
        </div>

        <script type="text/javascript">
            $(function () {
                // This will make every element with the class "date-picker" into a DatePicker element
                $('.date-picker').datepicker({
                    dateFormat: 'dd/mm/yy',
                    yearRange: "1870:2014",
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 1,
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
                        'Junio', 'Julio', 'Agosto', 'Septiembre',
                        'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr',
                        'May', 'Jun', 'Jul', 'Ago',
                        'Sep', 'Oct', 'Nov', 'Dic']  
                });
            })
        </script>

        <div style="width: 45%; display: inline-block; margin-left: 8%;">
            <label>Sexo:</label>
            <div>
                <label>@Html.RadioButtonFor(model => model.direccion, "femenino") Femenino</label>
                <label>@Html.RadioButtonFor(model => model.direccion, "masculino") Masculino</label>
                @*Html.HiddenFor(model => model.direccion, htmlAttributes: new { id="direccion" })*@
                @*Html.TextBoxFor(model => model.direccion, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.direccion)
            </div>
        </div>

        <div class="form-group" style="margin-top:3%;">
            <label>Ocupaci&oacute;n</label>
            @Html.TextBoxFor(model => model.ocupacion, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ocupacion)
        </div>

        <div class="form-group">
            <label>Foto:</label>
            <input class="btn btn-default form-control" type="file" name="foto" size="40">
        </div>

        <div class="form-group centrar">
            <div style="display:inline-block">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
            <div style="display:inline-block">
                @Html.ActionLink("Cancelar", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
      </div>
    </div>
  </div>
}